# Assignment 1

This assignment requires you to implement a K-Nearest Neighbors classifier and test it using the `column_2C_weka` data from the **Vertebral Column dataset**, which you can download from [this page on the UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/212/vertebral+column). It walks you through the steps of a typical machine learning workflow.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Fetching and preparing the data

* **(5 points)** Read the `column_2C_weka` data of the above Vertebral Column dataset into a Pandas dataframe. The dataset contains six input features plus a binary target column(the output).

In [2]:
vert = pd.read_csv('vertebral+column/column_2C.DAT', sep=' ', header=None)
vert.columns = ['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6', 'output']
vert

     feat1  feat2  feat3  feat4   feat5  feat6 output
0    63.03  22.55  39.61  40.48   98.67  -0.25     AB
1    39.06  10.06  25.02  29.00  114.41   4.56     AB
2    68.83  22.22  50.09  46.61  105.99  -3.53     AB
3    69.30  24.65  44.31  44.64  101.87  11.21     AB
4    49.71   9.65  28.32  40.06  108.17   7.92     AB
..     ...    ...    ...    ...     ...    ...    ...
305  47.90  13.62  36.00  34.29  117.45  -4.25     NO
306  53.94  20.72  29.22  33.22  114.37  -0.42     NO
307  61.45  22.69  46.17  38.75  125.67  -2.71     NO
308  45.25   8.69  41.58  36.56  118.55   0.21     NO
309  33.84   5.07  36.64  28.77  123.95  -0.20     NO

[310 rows x 7 columns]

* **(5 points)** Re-code the values of the output column to 0 for “Normal” and 1 for “Abnormal”.

In [3]:
vert['output'] = vert['output'].map({'AB': 1, 'NO': 0})
vert

     feat1  feat2  feat3  feat4   feat5  feat6  output
0    63.03  22.55  39.61  40.48   98.67  -0.25       1
1    39.06  10.06  25.02  29.00  114.41   4.56       1
2    68.83  22.22  50.09  46.61  105.99  -3.53       1
3    69.30  24.65  44.31  44.64  101.87  11.21       1
4    49.71   9.65  28.32  40.06  108.17   7.92       1
..     ...    ...    ...    ...     ...    ...     ...
305  47.90  13.62  36.00  34.29  117.45  -4.25       0
306  53.94  20.72  29.22  33.22  114.37  -0.42       0
307  61.45  22.69  46.17  38.75  125.67  -2.71       0
308  45.25   8.69  41.58  36.56  118.55   0.21       0
309  33.84   5.07  36.64  28.77  123.95  -0.20       0

[310 rows x 7 columns]

* **(5 points)** Perform feature scaling by normalizing the values of each feature column. We use feature scaling to make sure that features with larger values do not render features with small values insignificant. Use the following formula for normalization: $$ x_{new}  = \frac{x - x_{min}}{x_{max} - x_{min}}$$

In [4]:
vert[['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6']] = vert[['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6']].apply(lambda iterr: (iterr - iterr.min()) / (iterr.max() - iterr.min()))

* **(5 points)** Split the dataset into two sets: 25% for testing and the rest for training.

In [5]:
#shuffle
vert = vert.sample(len(vert))

#get split idx
split_idx = int(.75 * len(vert))

#split
training, testing = vert.iloc[:split_idx,:], vert.iloc[split_idx:,:]

print(training.shape)
print(testing.shape)

(232, 7)
(78, 7)

In [10]:
training.iloc[:,:-1]

        feat1     feat2     feat3     feat4     feat5     feat6
217  0.115548  0.234191  0.326204  0.168425  0.667061  0.040503
148  0.382041  0.292605  0.329515  0.393763  0.368964  0.117249
81   0.461613  0.494284  0.388223  0.365630  0.539090  0.199302
149  0.512153  0.544659  0.239842  0.388025  0.306915  0.111196
211  0.277488  0.455877  0.336495  0.208958  0.599742  0.030400
..        ...       ...       ...       ...       ...       ...
72   0.567323  0.706860  0.419366  0.357024  0.597699  0.198766
107  0.504244  0.714184  0.557365  0.292708  0.736316  0.205354
275  0.396798  0.415684  0.331126  0.344253  0.725992  0.037291
263  0.073688  0.182744  0.102917  0.154914  0.626411  0.021601
173  0.238040  0.278850  0.378557  0.262724  0.095924  0.079376

[232 rows x 6 columns]

In [14]:
training

        feat1     feat2     feat3     feat4     feat5     feat6  output
217  0.115548  0.234191  0.326204  0.168425  0.667061  0.040503       0
148  0.382041  0.292605  0.329515  0.393763  0.368964  0.117249       1
81   0.461613  0.494284  0.388223  0.365630  0.539090  0.199302       1
149  0.512153  0.544659  0.239842  0.388025  0.306915  0.111196       1
211  0.277488  0.455877  0.336495  0.208958  0.599742  0.030400       0
..        ...       ...       ...       ...       ...       ...     ...
72   0.567323  0.706860  0.419366  0.357024  0.597699  0.198766       1
107  0.504244  0.714184  0.557365  0.292708  0.736316  0.205354       1
275  0.396798  0.415684  0.331126  0.344253  0.725992  0.037291       0
263  0.073688  0.182744  0.102917  0.154914  0.626411  0.021601       0
173  0.238040  0.278850  0.378557  0.262724  0.095924  0.079376       1

[232 rows x 7 columns]

## Implementing the classifier

* **(30 points)** Define a class named `KNearestNeighborClassifier` that generalizes the NearestNeighborClassifier of the `05.nearest_neighbors.ipynb` handout to `k` neighbors instead of just 1. The class must define a `fit()` and `predict()` methods just like `NearestNeighborClassifier` does.

In [25]:
class KNearestNeighborClassifier:
    def fit(self, X, y):
        self.X = X
        self.y = y
        
        return self
    
    def predict(self, X_unseen, k):
        if X_unseen.ndim == 1:
            distances = np.sqrt(np.sum((self.X - X_unseen)**2, axis=1))
            #sort 'k' values
            k_min_idx = distances.argpartition(k)
            #retrieve 'k' smallest values' idxs
            k_min_vals = self.y[k_min_idx[:k]]
            print(X_unseen, k_min_vals)
        else:
            return np.array([self.predict(ex, k) for ex in X_unseen])

In [31]:
np.array([1, 2, 3, 4, 7, 7]).index(7)

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [27]:
nn = KNearestNeighborClassifier().fit(training.iloc[:,:-1].values, training.iloc[:,-1].values)
nn.predict(testing.iloc[:,:-1].values, 4)

[0.16946373 0.29224723 0.34007517 0.19007959 0.19733305 0.12090317] [1 1 1 1]
[0.21392747 0.51411218 0.19849651 0.11780492 0.50865684 0.04082868] [1 0 0 1]
[1.         0.26705966 0.30767854 1.         0.40445209 1.        ] [1 1 1 1]
[0.19560185 0.23526259 0.30517272 0.24467888 0.64813421 0.03144786] [0 0 0 1]
[0.44762731 0.42765273 0.34007517 0.38691468 0.5281213  0.10048883] [1 1 0 1]
[0.20746528 0.35423365 0.20297118 0.19442902 0.3029358  0.04033985] [1 1 1 1]
[0.32262731 0.6886388  0.29139073 0.1316861  0.52962684 0.02916667] [1 0 1 1]
[0.61101466 0.99053233 0.51906211 0.25198964 0.69416066 0.30123371] [1 1 1 1]
[0.07417052 0.20757413 0.20261321 0.14251342 0.5793096  0.02527933] [0 0 1 0]
[0.37104552 0.38906752 0.47995346 0.33342587 0.21744274 0.09867318] [1 1 1 1]
[0.44299769 0.45551983 0.33112583 0.36794373 0.47456716 0.0280959 ] [0 1 1 1]
[0.43489583 0.21114684 0.64435296 0.48676661 0.43682116 0.11480447] [1 1 1 1]
[0.35706019 0.23008217 0.43851799 0.40227651 0.43617593 0.12493017] [1 1 1 1]
[0.42062114 0.46141479 0.30875246 0.34342032 0.28400903 0.14485568] [1 1 1 1]
[0.34047068 0.5223294  0.28790048 0.23486952 0.59780622 0.01943669] [1 1 0 0]
[0.14014275 0.28045731 0.15231788 0.16805478 0.74244542 0.01990223] [0 1 0 0]
[0.30815972 0.38210075 0.58752461 0.27660559 0.46789977 0.14269088] [1 0 1 1]
[0.41869213 0.39210432 0.54089851 0.37747548 0.37627702 0.09487896] [0 1 1 1]
[0.34403935 0.35994998 0.44746733 0.32250602 0.55597376 0.02877095] [1 0 0 1]
[0.24266975 0.27563416 0.38482191 0.26901721 0.60640929 0.0207635 ] [0 0 0 0]
[0.16811343 0.41193283 0.29532844 0.12678142 0.42144317 0.04667132] [1 1 0 0]
[0.20978009 0.36030725 0.19688563 0.19359615 0.50940961 0.01585196] [1 0 0 1]
[0.23726852 0.47856377 0.20583497 0.15870813 0.56199591 0.03107542] [1 1 1 0]
[0.17746914 0.50875313 0.11446214 0.08560059 0.44080009 0.03191341] [0 0 1 1]
[0.37287809 0.38799571 0.40128871 0.33564686 0.44735993 0.07558194] [1 1 1 1]
[0.22723765 0.28938907 0.12815464 0.24699241 0.40961394 0.04418063] [1 1 1 1]
[0.27903164 0.04983923 0.37587256 0.42078475 0.42843316 0.09969739] [1 1 0 1]
[0.09211034 0.46427295 0.05996062 0.0267444  0.72545435 0.02513966] [1 0 0 0]
[0.5550733  0.47909968 0.56479327 0.46326115 0.59576299 0.18701117] [1 1 1 1]
[0.15788966 0.37388353 0.1013066  0.13668332 0.63264867 0.02751397] [0 0 1 1]
[0.04899691 0.4335477  0.01342402 0.00138812 0.53747715 0.02690875] [0 1 1 1]
[0.39891975 0.71150411 0.73635225 0.19313344 0.81213034 0.23128492] [1 1 1 1]
[0.13898534 0.43819221 0.17898693 0.08523043 0.54812345 0.02216015] [1 1 0 0]
[0.28819444 0.40818149 0.43207446 0.24393855 0.47252393 0.02032123] [0 1 1 0]
[0.42679398 0.35762772 0.42240916 0.40310938 0.34691902 0.08519553] [1 0 1 1]
[0.13695988 0.29903537 0.21451584 0.1552841  0.62297021 0.02681564] [0 1 1 0]
[0.61419753 0.52143623 0.68516198 0.49814918 0.32713195 0.03282123] [1 1 1 1]
[0.58449074 0.76080743 0.49418292 0.34554877 0.74556404 0.28379888] [1 1 1 1]
[0.15306713 0.         0.48236979 0.3258375  0.44639209 0.08938547] [1 1 1 0]
[0.18537809 0.30921758 0.13459817 0.19655747 0.50747392 0.00088454] [1 1 1 0]
[0.21103395 0.18792426 0.39681403 0.28400888 0.59436499 0.10721601] [0 0 0 0]
[0.46238426 0.45319757 0.55512798 0.38774755 0.62727175 0.19657821] [1 1 1 1]
[0.25337577 0.45659164 0.19572221 0.18545253 0.49983869 0.02967877] [1 1 1 1]
[0.39650849 0.2454448  0.33739037 0.43216731 0.29809657 0.12383613] [1 1 1 1]
[0.26803627 0.28331547 0.26042599 0.28937627 0.58414883 0.08412477] [0 0 1 0]
[0.42505787 0.82833155 0.48433864 0.15759763 0.8436391  0.3641527 ] [1 1 1 1]
[0.29224537 0.46427295 0.26472168 0.21867481 0.74319819 0.02141527] [0 1 1 0]
[0.3675733  0.37602715 0.26758547 0.33675736 0.48725669 0.03959497] [0 1 0 1]
[0.28636188 0.6323687  0.30150349 0.12613363 0.57242714 0.03228585] [1 1 0 1]
[0.09654707 0.10253662 0.17567568 0.21839719 0.7082482  0.02087989] [0 1 0 0]
[0.23206019 0.64862451 0.19778056 0.06551916 0.62598129 0.03910615] [1 1 1 1]
[0.2974537  0.23972847 0.3849114  0.34008884 0.4290784  0.11142924] [1 1 1 1]
[0.39429012 0.35423365 0.46670843 0.37368129 0.3294978  0.10486499] [1 1 1 1]
[0.47743056 0.4624866  0.44880974 0.39737183 0.27766426 0.18763966] [1 1 1 1]
[0.26977238 0.59306895 0.19088957 0.13048306 0.55242499 0.02939944] [1 0 1 1]
[0.44270833 0.55823508 0.58949347 0.31445493 0.39886009 0.15709963] [1 1 1 1]
[0.52893519 0.77509825 0.65294434 0.28474921 0.7636305  0.22562849] [1 1 1 1]
[0.38059414 0.53036799 0.43475926 0.26929484 0.5812453  0.01624767] [0 1 1 1]
[0.66869213 0.94855305 0.4027206  0.32907644 0.28605226 0.20563315] [1 1 1 1]
[0.31520062 0.78831726 1.         0.07292245 0.70491451 0.29881285] [1 1 1 1]
[0.18605324 0.29403358 0.27742975 0.2051638  1.         0.07304469] [1 0 0 0]
[0.18258102 0.33690604 0.27367102 0.17952989 0.83675664 0.00493482] [0 0 1 0]
[0.28317901 0.47606288 0.2684804  0.2040533  0.56532961 0.10616853] [1 1 0 1]
[0.17631173 0.37013219 0.16323608 0.15630205 0.66286697 0.01736499] [1 0 1 0]
[0.36304012 0.49839228 0.46536603 0.26910975 0.53199269 0.05456238] [1 1 0 1]
[0.30256559 0.71811361 0.33032039 0.09726078 0.76244758 0.37199721] [1 1 1 1]
[0.45148534 0.46677385 0.42070879 0.37025726 0.4425207  0.02763035] [1 1 1 1]
[0.36805556 0.58735263 0.33076785 0.22774385 0.38821379 0.03300745] [1 0 1 1]
[0.27584877 0.29117542 0.30427779 0.29270775 0.5695236  0.04492551] [0 0 0 0]
[0.2576196  0.28510182 0.29523895 0.27836387 0.5700613  0.03007449] [0 0 0 0]
[0.52729552 0.46070025 0.42634688 0.44614103 0.20851704 0.12856145] [1 1 1 1]
[0.26803627 0.48713826 0.13620906 0.18369424 0.47628777 0.02476723] [1 0 1 1]
[0.05140818 0.25687746 0.09199928 0.09522488 0.4704807  0.03596369] [1 1 1 0]
[0.21238426 0.28831726 0.2300877  0.23329632 0.70480697 0.0382216 ] [0 0 0 0]
[0.88724923 0.80385852 0.32969393 0.61382565 0.11764706 0.19809125] [1 1 1 1]
[0.09905478 0.36495177 0.05584392 0.08486026 0.60221529 0.02616387] [1 1 0 1]
[0.36140046 0.41943551 0.31635941 0.30825467 0.50553823 0.02490689] [0 0 0 0]
[0.46701389 0.39782065 0.39931985 0.42078475 0.38004086 0.02714153] [0 1 1 1]

array([None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None], dtype=object)

## Hyperparameter tuning using 10-fold cross-validation
* **(20 points)** Define a function that implements **10-fold cross-validation**. See the lecture notes for how such a function works. Use $1 - accuracy$ as an error measure. The learner in this case is your `KNearestNeighborClassifier` class and $k$ (the number of neighbors is the hyperparameter.

In [7]:
def fold10_cv(X, y):
    batch_size = len(X) // 10
    err = 0
    for i in range(10):

IndentationError: expected an indented block (2898989707.py, line 5)

In [ ]:
tmp = np.array(vert.feat1.to_list())
print(len(tmp))
batch_size = len(tmp) // 10
print(batch_size)

In [ ]:
for i in range(10):
    test_start_idx = i * batch_size
    test_end_idx = (i + 1) * batch_size
    print(test_start_idx, test_end_idx)

In [ ]:
#for curr valid set
len(tmp[range(test_start_idx,test_end_idx)])

In [ ]:
#for curr train set

* **(10 points)** Use the above **10-fold cross-validation** function to plot the values of `k` (1 to 20) against their cross-validation errors. Using this plot, what is the best value for `k`?

In [ ]:
# TODO

## Testing the classifier
* **(10 points)** Train a model of the above `KNearestNeighborClassifier` with the “found-out” best `k` value. Test the trained model using the testing set. Show its confusion matrix and accuracy.

In [ ]:
# TODO

* **(10 points)** Plot a point corresponding to the above confusion matrix on the ROC (Receiver Operating Characteristic) plot; no curve, just a point. Make sure to also plot the line from (0,0) to (1,1).

In [ ]:
# TODO