# Assignment 1

This assignment requires you to implement a K-Nearest Neighbors classifier and test it using the `column_2C_weka` data from the **Vertebral Column dataset**, which you can download from [this page on the UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/212/vertebral+column). It walks you through the steps of a typical machine learning workflow.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Fetching and preparing the data

* **(5 points)** Read the `column_2C_weka` data of the above Vertebral Column dataset into a Pandas dataframe. The dataset contains six input features plus a binary target column(the output).

In [2]:
vert = pd.read_csv('vertebral+column/column_2C.DAT', sep=' ', header=None)
vert.columns = ['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6', 'output']
vert

     feat1  feat2  feat3  feat4   feat5  feat6 output
0    63.03  22.55  39.61  40.48   98.67  -0.25     AB
1    39.06  10.06  25.02  29.00  114.41   4.56     AB
2    68.83  22.22  50.09  46.61  105.99  -3.53     AB
3    69.30  24.65  44.31  44.64  101.87  11.21     AB
4    49.71   9.65  28.32  40.06  108.17   7.92     AB
..     ...    ...    ...    ...     ...    ...    ...
305  47.90  13.62  36.00  34.29  117.45  -4.25     NO
306  53.94  20.72  29.22  33.22  114.37  -0.42     NO
307  61.45  22.69  46.17  38.75  125.67  -2.71     NO
308  45.25   8.69  41.58  36.56  118.55   0.21     NO
309  33.84   5.07  36.64  28.77  123.95  -0.20     NO

[310 rows x 7 columns]

* **(5 points)** Re-code the values of the output column to 0 for “Normal” and 1 for “Abnormal”.

In [3]:
vert['output'] = vert['output'].map({'AB': 1, 'NO': 0})
vert

     feat1  feat2  feat3  feat4   feat5  feat6  output
0    63.03  22.55  39.61  40.48   98.67  -0.25       1
1    39.06  10.06  25.02  29.00  114.41   4.56       1
2    68.83  22.22  50.09  46.61  105.99  -3.53       1
3    69.30  24.65  44.31  44.64  101.87  11.21       1
4    49.71   9.65  28.32  40.06  108.17   7.92       1
..     ...    ...    ...    ...     ...    ...     ...
305  47.90  13.62  36.00  34.29  117.45  -4.25       0
306  53.94  20.72  29.22  33.22  114.37  -0.42       0
307  61.45  22.69  46.17  38.75  125.67  -2.71       0
308  45.25   8.69  41.58  36.56  118.55   0.21       0
309  33.84   5.07  36.64  28.77  123.95  -0.20       0

[310 rows x 7 columns]

* **(5 points)** Perform feature scaling by normalizing the values of each feature column. We use feature scaling to make sure that features with larger values do not render features with small values insignificant. Use the following formula for normalization: $$ x_{new}  = \frac{x - x_{min}}{x_{max} - x_{min}}$$

In [4]:
vert[['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6']] = vert[['feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6']].apply(lambda iterr: (iterr - iterr.min()) / (iterr.max() - iterr.min()))

* **(5 points)** Split the dataset into two sets: 25% for testing and the rest for training.

In [16]:
#shuffle
vert = vert.sample(len(vert))

#get split idx
split_idx = int(.75 * len(vert))

#split
training, testing = vert.iloc[:split_idx,:], vert.iloc[split_idx:,:]

print(training.shape)
print(testing.shape)

(232, 7)
(78, 7)

## Implementing the classifier

* **(30 points)** Define a class named `KNearestNeighborClassifier` that generalizes the NearestNeighborClassifier of the `05.nearest_neighbors.ipynb` handout to `k` neighbors instead of just 1. The class must define a `fit()` and `predict()` methods just like `NearestNeighborClassifier` does.

In [6]:
# TODO

## Hyperparameter tuning using 10-fold cross-validation
* **(20 points)** Define a function that implements **10-fold cross-validation**. See the lecture notes for how such a function works. Use $1 - accuracy$ as an error measure. The learner in this case is your `KNearestNeighborClassifier` class and $k$ (the number of neighbors is the hyperparameter.

In [7]:
# TODO

* **(10 points)** Use the above **10-fold cross-validation** function to plot the values of `k` (1 to 20) against their cross-validation errors. Using this plot, what is the best value for `k`?

In [8]:
# TODO

## Testing the classifier
* **(10 points)** Train a model of the above `KNearestNeighborClassifier` with the “found-out” best `k` value. Test the trained model using the testing set. Show its confusion matrix and accuracy.

In [9]:
# TODO

* **(10 points)** Plot a point corresponding to the above confusion matrix on the ROC (Receiver Operating Characteristic) plot; no curve, just a point. Make sure to also plot the line from (0,0) to (1,1).

In [10]:
# TODO